{% extends "base.html" %}
{% block body %}
<h2>Visitor Dashboard Section</h2>


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="static/img/New folder/kumbhmela.png"
                        alt="Kumbh Mela" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Kumbh Mela</h6>
                <h1 class="mb-4">Welcome to Kumbh Mela</h1>
                <p class="mb-4">Kumbh Mela is the largest religious and cultural gathering in the world. Millions of
                    devotees, saints, and visitors come together here to take the holy dip and experience spiritual
                    awakening.</p>
                <p class="mb-4">This festival showcases Indian traditions, faith, and culture. Various rituals,
                    discourses, cultural programs, and the atmosphere of devotion are the highlights of Kumbh Mela.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Holy Bath</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Discourses by Saints</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Cultural Programs</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Spiritual Experience</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->




<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Places</h6>
            <h1 class="mb-5">Popular Places</h1>
        </div>

        <div class="row g-4 justify-content-center">

            <!-- Card 1 -->
            <div class="col-lg-4 col-md-6 d-flex">
                <div class="course-item bg-light h-100 w-100 d-flex flex-column">
                    <div class="ratio ratio-4x3">
                        <img src="static/img/New folder/1.png" class="img-fluid object-fit-cover" alt="">
                    </div>
                    <div class="text-center p-4 d-flex flex-column flex-grow-1">
                        <h5 class="mb-3">Ramkund Panchwati</h5>
                        <p class="mb-0 text-start text-md-center text-justify">
                            One of Nashik’s most revered bathing ghats on the Godavari River, Ramkund is central to the
                            Kumbh experience.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-lg-4 col-md-6 d-flex">
                <div class="course-item bg-light h-100 w-100 d-flex flex-column">
                    <div class="ratio ratio-4x3">
                        <img src="static/img/New folder/2.png" class="img-fluid object-fit-cover" alt="">
                    </div>
                    <div class="text-center p-4 d-flex flex-column flex-grow-1">
                        <h5 class="mb-3">Shree Kalaram Mandir, Panchavati</h5>
                        <p class="mb-0 text-start text-md-center text-justify">
                            Historic temple dedicated to Lord Rama, Sita, and Lakshmana, located in Panchavati.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-lg-4 col-md-6 d-flex">
                <div class="course-item bg-light h-100 w-100 d-flex flex-column">
                    <div class="ratio ratio-4x3">
                        <img src="static/img/New folder/3.png" class="img-fluid object-fit-cover" alt="">
                    </div>
                    <div class="text-center p-4 d-flex flex-column flex-grow-1">
                        <h5 class="mb-3">Triveni Sangam</h5>
                        <p class="mb-0 text-start text-md-center text-justify">
                            The sacred confluence near Ramkund, spiritually significant for ritual bathing and prayers.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-lg-4 col-md-6 d-flex">
                <div class="course-item bg-light h-100 w-100 d-flex flex-column">
                    <div class="ratio ratio-4x3">
                        <img src="static\img\New folder\muktidham.webp" class="img-fluid object-fit-cover" alt="">
                    </div>
                    <div class="text-center p-4 d-flex flex-column flex-grow-1">
                        <h5 class="mb-3">Muktidham Mandir</h5>
                        <p class="mb-0 text-start text-md-center text-justify">
                            A marble temple complex featuring replicas of the 12 Jyotirlingas and Bhagavad Gita
                            inscriptions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex">
                <div class="course-item bg-light h-100 w-100 d-flex flex-column">
                    <div class="ratio ratio-4x3">
                        <img src="static\img\New folder\Janardan Swami Math.png" class="img-fluid object-fit-cover"
                            alt="">
                    </div>
                    <div class="text-center p-4 d-flex flex-column flex-grow-1">
                        <h5 class="mb-3">Janardan Swami Math</h5>
                        <p class="mb-0 text-start text-md-center text-justify">
                            Janardan Swami Maharaj was a renowned Marathi saint and spiritual teacher from Maharashtra,
                            India, who lived during the 15th–16th century.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex">
                <div class="course-item bg-light h-100 w-100 d-flex flex-column">
                    <div class="ratio ratio-4x3">
                        <img src="static\img\New folder\kailas_math.png" class="img-fluid object-fit-cover" alt="">
                    </div>
                    <div class="text-center p-4 d-flex flex-column flex-grow-1">
                        <h5 class="mb-3">Kailas Math</h5>
                        <p class="mb-0 text-start text-md-center text-justify">
                            Kailas Math is a historic Hindu spiritual ashram and centre where Vedic education and
                            spiritual teachings are offered.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="container-xxl py-5">
    <div class="container">
        <!-- Service Start -->
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Places</h6>
            <h1 class="mb-5">Source Places</h1>
        </div>
        <div class="row g-4">

            <!-- Card 1 : Bus Timetable -->
            <div class="col-lg-4 col-sm-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-bus text-primary mb-4"></i>
                        <h5 class="mb-3">Bus Timetable</h5>
                        <p>
                            Check daily bus timings, routes and schedules easily
                            for your city.
                        </p>

                        <a href="static/img/New folder/citylink_timetable.pdf" class="btn btn-primary mt-3">
                            View Timetable
                        </a>
                    </div>
                </div>
            </div>

            <!-- Card 2 : Bus Application -->
            <div class="col-lg-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-mobile-alt text-primary mb-4"></i>
                        <h5 class="mb-3">Bus Application</h5>
                        <p>
                            Download the official Citylink Bus mobile app for
                            live tracking and updates.
                        </p>

                        <a href="https://play.google.com/store/apps/details?id=bus.tickets.intrcity" target="_blank"
                            class="btn btn-success mt-3">
                            Download App
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fas fa-motorcycle fa-3x text-primary mb-4"></i>
                        <h5 class="mb-3">Rapido App</h5>
                        <p>
                            Download the official Rapido mobile app for
                            convenient ride booking and tracking.
                        </p>

                        <a href="https://play.google.com/store/apps/details?id=com.rapido.passenger&hl=en_IN"
                            target="_blank" class="btn btn-secondary mt-3">
                            Download App
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Service End -->

<!-- Courses End -->

{% endblock body %}